<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
<!-- 	<bean id="dbConnector"> -->
<!-- 		<property name="dbURL" value="jdbc:derby://localhost:1527/c:\\Users\\k\\Prace\\Projects\\Slovicka\\temp\\LanguageDB2;user=k;password=k" /> -->
<!-- 		<property name="derbyJarServerStart" value="java -jar c:\Users\k\MyProgs\classes\db-derby-10.6.1.0-bin\lib\derbyrun.jar server start" /> -->
<!-- 		<property name="derbyJarServerStop" value="java -jar c:\Users\k\MyProgs\classes\db-derby-10.6.1.0-bin\lib\derbyrun.jar server shutdown" /> -->
<!-- 	</bean> -->
 
<!-- 	<bean id="PersonBean" class="com.mkyong.common.Person"> -->
<!-- 		<property name="name" value="mkyong1" /> -->
<!-- 		<property name="address" value="address 1" /> -->
<!-- 		<property name="age" value="28" /> -->
		
<!-- 		<property name="" value="" /> -->
<!-- 	</bean> -->
 
</beans>