<?xml version="1.0" encoding="UTF-8" ?>
<!-- Configuration file for application. Description of each property is explained in cz.semenko.word.Config -->
<config>
	<application>
		<name>DeterPropText</name>
	</application>
	<dataProvider>
		<numCharsReadsFromInput>400</numCharsReadsFromInput><!-- Tested: 512 - 1 sek., 4 - 26 sek. --> 
	</dataProvider>
	<fastMemory>
		<tablesTableSize>400</tablesTableSize>
		<tablesCellsSize>400</tablesCellsSize>
		<tablesAssociationsSize>400</tablesAssociationsSize>
		<alwaysSearchToAssociationsDeepInTheMemory>true</alwaysSearchToAssociationsDeepInTheMemory>
		<searchToAssociationsAtAllElements>true</searchToAssociationsAtAllElements>
	</fastMemory>
	<knowledge>
		<relateThoughtsUpToCellType>68</relateThoughtsUpToCellType>
		<knowledgeSize>100</knowledgeSize>
		<relateOnlyCellsOfSameTypes>true</relateOnlyCellsOfSameTypes>
		<decideToRelateByCellTypeOrAssocCost>false</decideToRelateByCellTypeOrAssocCost>
		<decideToRelateCellsByHigherCellType>true</decideToRelateCellsByHigherCellType>
		<decideToRelateCellsByHigherAssocCost>true</decideToRelateCellsByHigherAssocCost>
		<saveThoughtsToFile>true</saveThoughtsToFile>
	</knowledge>
	<cellsCreationDecider>
		<createNewCellsToAllPairsDepth>1</createNewCellsToAllPairsDepth>
	</cellsCreationDecider>
	<thoughtsSaver>
		<filePathToSaveThoughts>
			C:\Users\k\Prace\Projects\Slovicka\slovickaWorkspace\Slovicka\Data-out\ulozenaIdeckaBehemZpracovani.txt
		</filePathToSaveThoughts>
	</thoughtsSaver>
	<memoryCleaner>
		<lowestCostForLeaving>2</lowestCostForLeaving>
	</memoryCleaner>
</config>
