<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Spring context provider -->
	<bean id="applicationContextProvider" class="cz.semenko.word.ApplicationContextProvider"></bean>
	<bean id="config" class="cz.semenko.word.Config" /><!-- TODO odstranit -->
	
	<!-- Hlavni objekt pro cteni textu -->
    <bean id="textReader"
          class="cz.semenko.word.technology.memory.completion.TextReader">
          	<property name="fastMemory" ref="fastMemory" />
          	<property name="knowledge" ref="knowledge" />
          	<property name="thoughtsSaver" ref="thoughtSaver" />
          	<property name="config" ref="config" />
    </bean>
	
	<!-- DAO -->
	<bean id="slowMemory" 
		class="cz.semenko.word.technology.memory.slowly.SlowMemory" 
		depends-on="dbViewer">
			<constructor-arg ref="dbViewer" />
	</bean>
	
	<!-- Cashovaci pamet -->
	<bean id="fastMemory"
		class="cz.semenko.word.technology.memory.fast.FastMemory" depends-on="slowMemory">
			<constructor-arg ref="slowMemory" />
			<property name="config" ref="config" />
	</bean>
	
	<!-- Ukladac myslenek -->
	<bean id="thoughtSaver" class="cz.semenko.word.aware.ThoughtsSaver">
		<constructor-arg ref="config" />
	</bean>
	
	<!-- Procesor pro myslenky -->
	<bean id="knowledge" class="cz.semenko.word.aware.Knowledge" depends-on="thoughtUnionDecider">
		<property name="fastMemory" ref="fastMemory" />
		<property name="thoughtUnionDecider" ref="thoughtUnionDecider" />
		<property name="thoughtsSaver" ref="thoughtSaver" />
		<property name="cellsCreationDecider" ref="CellsCreationDecider" />
		<property name="config" ref="config" />
	</bean>
	
	<!-- Rozhodovaci componenta -->
	<bean id="thoughtUnionDecider" class="cz.semenko.word.aware.policy.ThoughtUnionDecider" depends-on="fastMemory">
		<property name="fastMemory" ref="fastMemory" />
		<property name="config" ref="config" />
	</bean>
	
	<!-- Reprezentace tabulky ASSOCIATIONS -->
	<bean id="associations" class="cz.semenko.word.persistent.Associations">
	</bean>
	
	<!-- Rozhodnout ktere Thoughts sloucit na zaklade konfiguracnich parametru -->
	<bean id="CellsCreationDecider" class="cz.semenko.word.aware.policy.CellCreationDecider">
		<property name="fastMemory" ref="fastMemory" />
		<property name="config" ref="config" />
	</bean>
	
	<!-- Spanek a zapomenuti -->
	<bean id="memoryCleaner" class="cz.semenko.word.sleeping.MemoryCleaner">
		<property name="config" ref="config" />
		<property name="dbViewer" ref="dbViewer" />
	</bean>

</beans>