<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Spring configuration -->
	<import resource="classpath:/spring/applicationContext-initialization.xml" />
	<!-- Slovicka configuration -->
	<import resource="classpath:/spring/dev/applicationContext-dao.xml" />

</beans>