<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<!-- Derby database configuration -->
	<bean id="dbConnector" class="cz.semenko.word.dao.DBconnector">
		<property name="databaseName" value="dev" />
		<property name="embeddedDatabaseType">
			<value type="org.springframework.jdbc.datasource.embedded.EmbeddedDatabaseType">DERBY</value>
		</property>
	</bean>
	
	<!-- DAO TODO spojit se slowlyMemory -->
	<bean id="dbViewer" class="cz.semenko.word.dao.JdbcDBViewer">
		<constructor-arg ref="dbConnector" />
		<property name="config" ref="config" />
	</bean>
 
</beans>