<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Properties for DBconnector class instance -->
	<bean id="dbConnector" class="cz.semenko.word.dao.DBconnector" scope="singleton">
		<property name="dataSource" ref="dataSourceRef" />
	</bean>

	<!-- Single data source -->
	<bean id="dataSourceRef" class="org.springframework.jdbc.datasource.DriverManagerDataSource" depends-on="startDerby">
		<constructor-arg value="jdbc:derby://localhost:1527/integrationTest;create=true" />
	    <property name="driverClassName" value="org.apache.derby.jdbc.AutoloadedDriver" />
	</bean>
	
	<!-- DAO -->
	<bean id="dbViewer" class="cz.semenko.word.dao.JdbcDBViewer">
		<constructor-arg ref="dbConnector" />
		<property name="config" ref="config" />
	</bean>
	
</beans>