<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- DB connection manager -->
	<bean id="dbConnector" class="cz.semenko.word.dao.DBconnector" scope="singleton">
		<property name="dataSource" ref="dataSourceRef" />
	</bean>
	
	<!-- Data source in memory -->
	<bean id="dataSourceRef" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="org.h2.Driver" />
		<property name="url"
			value="jdbc:h2:mem:unitTest;DB_CLOSE_DELAY=-1;MODE=DERBY;TRACE_LEVEL_FILE=1;TRACE_LEVEL_SYSTEM_OUT=1;user=k;password=k" />
	</bean>
	
	<!-- provides a H2 console to look into the db if necessary, http://localhost:11111 -->
	<bean id="org.h2.tools.Server-WebServer" class="org.h2.tools.Server"
		factory-method="createWebServer" depends-on="dbConnector" init-method="start"
		lazy-init="false">
		<constructor-arg value="-web,-webPort,11111" />
	</bean>

</beans>